<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>

    <div class="container" style="min-height:100% width:80%">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
          {{message}}
          </div>
        {% endfor %}
        {% endif %}
      {% endwith %}
      
      {% block body %}{% endblock %}
      </div>

    <form action="{{ url_for('home') }}" method="post" class="query-form">
      <div class="query-form">
        <label for="start">Start date:</label>
        <input type="date" id="start" name="query-start"
               value="2020-04-01"
               min="2020-03-01" max="2022-01-01">
        
      </div>
      <div class="query-form">
        <label for="end">End date:</label>
        <input type="date" id="end" name="query-end"
               value="2020-07-01"
               min="2020-03-01" max="2022-01-01">
      </div>

      <div class="query-form">
        <label for="counties">Select counties to filter by (hold ctrl to select more than one):</label>
        <select multiple name="counties" id="counties">
          {% for entry in counties %}
          <option value="{{ entry }}">{{ entry }}</option>
          {% endfor %} 
        </select> 
      </div>

      <div class="query-form">
        <input type="radio" id="json" name="display" value="json">
          <label for="json">Raw JSON please!</label><br>
        <input type="radio" id="map" name="display" value="map">
          <label for="map">Show me a map!</label><br>
        
      </div>
      <div class="query-form">
        <input type="submit" value="Search">
      </div>
    </form>
  </body>
</html>
