<!DOCTYPE html>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
<html>
  <head>
    <title>Query Results</title>
  </head>
  <body>
    <div id='map' style='width: 800px; height: 600px;'></div>
    <script>
        mapboxgl.accessToken = '{{ token }}';
        console.log(mapboxgl.accessToken)
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v11',
    center: [-82.45, 27.95],
    zoom: 6
    });
     
    map.on('load', function () {
// Add an image to use as a custom marker
map.loadImage(
'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
function (error, image) {
if (error) throw error;
map.addImage('custom-marker', image);
// Add a GeoJSON source with 2 points
map.addSource('points', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': 
[
{% for entry in data['features'] %}
{'type': 'Feature',
'geometry': {
  'type': 'Point',
  'coordinates': [{{ entry['properties']['longitude'] }}, {{ entry['properties']['latitude'] }}]
},
'properties': {
  'id': "{{ entry['properties']['id'] }}"
}
},
{% endfor %}
]
}
});
 
// Add a symbol layer
map.addLayer({
'id': 'points',
'type': 'symbol',
'source': 'points',
'layout': {
'icon-image': 'custom-marker',
// get the id from the source's "id" property
'text-field': ['get', 'id'],
'text-font': [
'Open Sans Semibold',
'Arial Unicode MS Bold'
],
'text-offset': [0, 1.25],
'text-anchor': 'top'
}
});
}
);
  });
    </script>
    <br>
    <span>{{ data['features']|length }} events were found.</span>
    <br>
  </body>
</html>
